/* Variables */
:root {
  --primary-color: rgba(226, 6, 19, 1);
  --secondary-color: rgba(136, 19, 19, 1);
  --third-color: rgba(242, 242, 242, 1);
}
/* Variables end */

.transition {
  transition: all ease-in-out 0.3s;
  -webkit-transition: all ease-in-out 0.3s;
  -moz-transition: all ease-in-out 0.3s;
  -ms-transition: all ease-in-out 0.3s;
  -o-transition: all ease-in-out 0.3s;
}

body {
  background: white;
  font-size: 16px;
  font-family: 'DIN';
  font-weight: 400;
  font-style: normal;
  color: black;
}

h2 {
  color: var(--primary-color);
  text-align: center;
  font-weight: 700;
  margin-bottom: 20px;
}

p {
  text-wrap: pretty;
}

p span {
  font-weight: 700;
}

a {
  text-decoration: none !important;
}

ul {
  padding: 0 !important;
  list-style: none;
}

input:focus,
textarea:focus {
  box-shadow: none !important;
}

button:focus {
  box-shadow: none !important;
}

/* button:not(.collapsed) {
  background-color: transparent !important;
} */

.degrade {
  background: linear-gradient(
    to right,
    var(--secondary-color),
    var(--primary-color)
  );
}

/* MEDIA QUERIES */
@media (min-width: 576px) {
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
}

@media (min-width: 1400px) {
}

@media (min-width: 1600px) {
}

@media (min-width: 1800px) {
}
